body {
  display: flex;
  gap: 1.5rem;
  padding: 0.75rem;
  max-height: 100vh;
  box-sizing: border-box;
}

#resources {
  overflow: auto;
}

#resources ul {
  margin: 0;
  padding-left: 1rem;
  list-style-type: none;
}

#resources ul li > :first-child {
  padding-left: 0.25rem;
}

#resources ul li label {
  cursor: pointer;
}

#resources ul li label:after {
  content: ' >';
}

#resources ul li label.selected {
  text-decoration: underline;
}

#resources ul ul li:before {
  content: '┗';
}

#properties {
  flex: 1;
  min-width: 300px;
  overflow: auto;
}

#properties input {
  display: none;
}

#properties input:checked + table {
  display: table;
}

#properties table {
  display: none;
  border-collapse: collapse;
  width: 100%;
}

#properties table caption {
  text-align: left;
  margin-bottom: 0.5rem;
}

#properties table th {
  padding: 0.25rem 0.5rem;
}

#properties table tbody tr:nth-child(odd) {
  background-color: var(--vscode-tree-tableOddRowsBackground);
}

#properties table td {
  max-width: 500px;
  vertical-align: top;
  padding: 0.25rem 0.5rem;
}

#properties table td pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

.create,
.update,
.delete {
  font-family: monospace;
  font-weight: bold;
}

.create {
  color: var(--vscode-charts-green);
}

.update {
  color: var(--vscode-charts-yellow);
}

.delete {
  color: var(--vscode-charts-red);
}

.nowrap {
  white-space: nowrap;
}

.address {
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
}
